name: Auto Run Kaggle Notebook

on:
  schedule:
    - cron: "0 * * * *"   # runs every hour
  workflow_dispatch:        # allow manual run from Actions tab

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.10

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Kaggle Notebook
        env:
          KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
          KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}
        run: python run_kaggle.py
